# Pandas used for data cleaning manipulation selection and data wrangling ,visulization

In [88]:
import pandas as pd

In [89]:
# load data 
df = pd.read_csv("employees.csv")

# Inspect

In [ ]:
df.head()

In [ ]:
# Make it case insensitive
df[df['FIRST_NAME'].str.lower() == 'alexander']

In [105]:
df[df['FIRST_NAME'].str.contains('st|hn', case=False)]
df[df['FIRST_NAME'].str.contains('st',case=False)]
df[df['FIRST_NAME'].str.contains('..hn', case=False)]

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
19,110,John,Chen,JCHEN,515.124.4269,28-SEP-05,FI_ACCOUNT,8200,-,108,100
48,139,John,Seo,JSEO,650.121.2019,12-FEB-06,ST_CLERK,2700,-,123,50

In [ ]:
df.info()

# Select columns/rows

In [ ]:
df[['EMPLOYEE_ID','FIRST_NAME','SALARY']].head(7)

In [ ]:
df[['EMPLOYEE_ID','FIRST_NAME','SALARY']].tail(3)

In [ ]:
df[['EMPLOYEE_ID','FIRST_NAME','SALARY','EMAIL']].info()

# iloc
rows 0:5             #rows from 0 50 5 
Columns 0:4          #columns from 0 to 4

In [ ]:
df.iloc[0:5,1:4]

# loc 
rows 0:2             #start from 0 go till row 2
Column 'SALARY'       #Single column
create list if want multiple columns

In [ ]:
df.loc[0:2,["SALARY","FIRST_NAME","EMAIL"]]

In [ ]:
df.loc[df ['SALARY'] > 13000]

# Handlling missing values

In [ ]:
df.isna().sum()

# Groupby + aggregation

In [ ]:
df.groupby('FIRST_NAME')['EMPLOYEE_ID'].sum()