In [ ]:
import pandas as pd

In [ ]:
data = pd.Series([13,14,15])
data

In [ ]:
data = pd.DataFrame ({
    'Name' : ['Shreeram','Riya','Ram'],
    'Age': [21,22,23],
    'City':['Vithalwa','Kalyan', 'Pune']
    })
df = pd.DataFrame(data)
df

In [ ]:
df = pd.read_csv('employees.csv')
df.head(3)

In [ ]:
df.columns

In [ ]:
df.isna().sum()

In [ ]:
data = {
    "Department": ["IT", "HR", "IT", "Finance", "HR", "IT"],
    "Salary": [50000, 40000, 60000, 45000, 42000, 70000],
    "Experience": [2, 3, 5, 4, 2, 6]
}

df = pd.DataFrame(data)

# 1. Find average salary of each department
# 2. Find highest salary
# 3. Filter employees with experience > 3
# 4. Sort salary descending

In [ ]:
df.value_counts()
df.duplicated()
df.drop_duplicates()
df.nunique()
df.sample(3)
df.query("Salary > 50000")

In [ ]:
import pandas as pd

data = {
    "Name": ["Riya", "Aman", "Neha", "Raj", "Simran"],
    "Age": [21, 22, 20, 23, 21],
    "Marks": [85, 90, 78, 88, 92],
    "Department": ["IT", "HR", "IT", "Finance", "HR"]
}


df = pd.DataFrame(data)

In [ ]:
data = {
    "Department": ["IT", "HR", "IT", "Finance", "HR", "IT"],
    "Salary": [50000, 40000, 60000, 45000, 42000, 70000],
    "Experience": [2, 3, 5, 4, 2, 6]
}

df = pd.DataFrame(data)

In [ ]:
import numpy as np

data = {
    "Name": ["A", "B", "C", "D", "E", "F", "G"],
    "Sales": [200, 150, 300, 400, 250, 500, 100],
    "Region": ["East", "West", "East", "West", "North", "East", "North"],
    "Month": ["Jan", "Jan", "Feb", "Feb", "Jan", "Mar", "Mar"]
}

df = pd.DataFrame(data)

In [ ]:
df = pd.DataFrame({
    "Name": ["A", "B", "C", "D"],
    "Age": [21, 22, 20, 23],
    "Marks": [85, 90, 78, 88],
    "Dept": ["IT", "HR", "IT", "Finance"]
})
df

In [ ]:
df.head()
df.shape
df.info()
df.describe()