In [ ]:
import pandas as pd

This is a 1D DataFrame it creates columns

In [ ]:
data = [1,2,3,4,5]
s = pd.Series(data)
print(s)

list does not have a index like pandas Series

In [ ]:
s = [1,2,3,4,5]
print(s)
s = pd.Series([10,20,30,40])
print(s)
type(s)

After the second line runs:

The old Series object is no longer referenced by data

data now points to a Python list

In [ ]:
s = pd.Series([1,2,3,4])
s = [10,20,30,40]
type(s)

the list a becomes series
by=ut b is still pointing to the list so b remains a list

In [ ]:
a = [1,2,3,4,5]
b = a 
a = pd.Series(a)
print(type(a))
print(type(b))

This is a 2D DataFrame (important) creates tables

üëâ All lists (values) must have same length Otherwise ‚Üí ‚ùå Error 

eg one row has two values and other has 3 ‚ùå Error  both should have same amount of values

In [ ]:
data = {
    'Name' : ['Riya','Shreeram','Ram'],
    'Age' : [21,21,20],
    'City' : ['Pune','Mumbai','Pune'],
    'Goal' : ['Data Engineer ','Data Engineer','Data Scientist'],
    'Address' : [
               'state :Maharashtra,country:India,pin: 411001',
                'state :Maharashtra,country:India,pin: 411001',
                 'state :Maharashtra,country:India,pin: 411001'
    ]
    
}

data = pd.DataFrame(data)
print(data)

Basic Inspection Commands

In [ ]:
data.columns

In [ ]:
data.head(2)

In [ ]:
data.tail(1)

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data.size

In [ ]:
data.describe()

Only functions/Methods have () because they are callable

In [ ]:
type(data.head)

These are just data not functions. So, they are not callable.

In [ ]:
type(data.columns)