In [ ]:
import pandas as pd

In [ ]:
data = pd.Series([13,14,15])
data

In [ ]:
data = pd.DataFrame ({
    'Name' : ['Shreeram','Riya','Ram'],
    'Age': [21,22,23],
    'City':['Vithalwa','Kalyan', 'Pune']
    })
df = pd.DataFrame(data)
df

In [ ]:
df = pd.read_csv('employees.csv')
df.head(3)

In [ ]:
df.columns

In [ ]:
df.isna()