In [ ]:
import pandas as pd

This is a 1D DataFrame it creates columns

In [ ]:
data = [1,2,3,4,5]
s = pd.Series(data)
print(s)

list does not have a index like pandas Series

In [ ]:
s = [1,2,3,4,5]
print(s)
s = pd.Series([10,20,30,40])
print(s)
type(s)

After the second line runs:

The old Series object is no longer referenced by data

data now points to a Python list

In [ ]:
s = pd.Series([1,2,3,4])
s = [10,20,30,40]
type(s)

the list a becomes series
by=ut b is still pointing to the list so b remains a list

In [ ]:
a = [1,2,3,4,5]
b = a 
a = pd.Series(a)
print(type(a))
print(type(b))

This is a 2D DataFrame (important) creates tables

üëâ All lists (values) must have same length Otherwise ‚Üí ‚ùå Error 

eg one row has two values and other has 3 ‚ùå Error  both should have same amount of values

In [ ]:
data = {
    'Name' : ['Riya','Shreeram','Ram'],
    'Age' : [21,21,20],
    'City' : ['Pune','Mumbai','Pune'],
    'Goal' : ['Data Engineer ','Data Engineer','Data Scientist'],
    'Address' : [
               'state :Maharashtra,country:India,pin: 411001',
                'state :Maharashtra,country:India,pin: 411001',
                 'state :Maharashtra,country:India,pin: 411001'
    ]
    
}

data = pd.DataFrame(data)
print(data)

Basic Inspection Commands

In [ ]:
data.columns

In [ ]:
data.head(2)

In [ ]:
data.tail(1)

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data.size

In [ ]:
data.describe()

Only functions/Methods have () because they are callable

In [ ]:
type(data.head)

These are just data not functions. So, they are not callable.

In [ ]:
type(data.columns)

In [ ]:
data.values

In [ ]:
data.dtypes

In [ ]:
data.index

In [ ]:
#data.index=['a','b','c' ]
#data.index

It allows you to apply string functions (like upper, lower, strip, contains, etc.) 
to all elements of a column or Index at once.

In [ ]:
data.columns.str.upper()    #.str is a string accessor.

.strip() is a string method

Removes leading and trailing spaces from strings

In [ ]:
new_data = {
    'Name' : ['  Riya','Shreeram    ','Ram'],
    'Age' : [21,21,20]
}

new_data = pd.DataFrame(new_data)
print("Before strip:\n",new_data)


data_clean = new_data['Name'].str.strip()
print("\nAfter strip:\n",data_clean)

In [ ]:
names = pd.Series(['Riya','Sadhna','Shreeram','Ram','Sushma'])
see = names.str.lower().str.contains('sa')
print(see)

In [ ]:
#data.columns.str.len()

#new_data['Name'].str.startswith('R')

#new_data['Name'].str.endswith('m')

#new_data.columns.str.replace('m','t')

SELECTING DATA

In [ ]:
data[['Name','Age','City']]

In [ ]:
data.loc[0:1,'Name':'Age']

In [ ]:
data.iloc[0:2,0:2]

Filtering (very imp)

In [ ]:
data[data['Age']<21]

In [ ]:
data[(data['Age']<21) |(data['City']=='Mumbai')]

Adding new columns

In [ ]:
data['Salary'] = [20000,20000,30000]
data

In [ ]:
data['Surname'] = ['Smith', 'Johnson', 'Williams']

In [ ]:
data

In [ ]:
data['index']